<router-outlet></router-outlet>
<div *ngIf="display">
  <ng-template id="content" #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <label class="modal-title api-key-text" id="modal-basic-title">Type in your Key. Press Enter. </label>
    </div>
    <div class="modal-body">
      <input id="upc-search-box" type="password" class="search-box"
             placeholder="Enter your api key" id="search-box" #apiBox
             (keyup.enter)="checkApiKey(apiBox.value)">
    </div>
  </ng-template>

  <div>
    <button class="btn button" (click)="open(content)">Click to Enter apikey</button>
  </div>

</div>

<div *ngIf="!display" style="text-align:center">
  <app-search-items [apikey]="apiKey"></app-search-items>
</div>

